* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Work Sans", sans-serif;
}
/* COMMON STYLE  */
.container {
    max-width: 1320px;
    margin: 0 auto;
}
.section-title {
    font-size: 40px;
    font-weight: 700;
}
.section-highlight {
    background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.text-primary {
    color: #ff42a5;
}
.fs-primary {
    font-size: 18px;
}
.btn-primary {
    color: #ffffff;
    background-color: #f948b2;
    border-radius: 50px;
    padding: 15px 30px;
    text-transform: uppercase;
    border: 0;
}
.btn-secondary {
    color: #ffffff;
    background-color: #4ec5f7;
    border-radius: 50px;
    padding: 15px 30px;
    text-transform: uppercase;
    border: 0;
}
.text-center {
    text-align: center;
}
/* HEADER SECTION START  */
header {
    padding: 30px 0px;
    border-bottom: 1px solid saddlebrown;
}
header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header nav .logo {
    display: flex;
    align-items: center;
}
header nav .logo h1 {
    font-size: 45px;
    padding-left: 20px;
}
header nav ul {
    display: flex;
    align-items: center;
}
header nav ul li {
    list-style: none;
}
header nav ul a {
    margin: 20px 20px;
    text-decoration: none;
    color: #000000;
}
header nav ul div {
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: #e7e6e9;
    padding: 10px 20px 10px 0;
    border-radius: 5px;
}

/* BANNER SECTION START  */
.banner-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner {
    background-image: url("./asset/images/group14.png");
    background-position: start;
    background-repeat: no-repeat;
}
.banner-section .banner-text h2 {
    text-transform: uppercase;
}
.banner-section .banner-text h1 {
    text-transform: uppercase;
    font-size: 80px;
    font-weight: 800;
}
.banner-section .banner-button {
    padding-top: 25px;
}
.banner-section .banner-text p {
    margin: 5px 0px;
}
.banner-section .banner-button button:nth-child(2) {
    margin-left: 15px;
}
.banner-section .banner-text i {
    color: #f948b2;
}
.banner-section .banner-text .download-icon i {
    transform: rotate(90deg);
}
.banner-section .banner-img img {
    padding-top: 25px;
    width: 100%;
}

/* GAMER SECTION START  */
.gamer-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;
}
.gamer-section .gamer-text {
    text-align: end;
}
.gamer-section .gamer-text p {
    padding-top: 20px;
}
.gamer-section .gamer-text button {
    margin-top: 20px;
}
.gamer-section .gamer-text h4 {
    font-size: 24px;
    color: #534c64;
}

/* VIDEO SECTION START  */
.videos-section {
    text-align: center;
    padding: 50px 0;
}
.videos-section .videos-text {
    padding-bottom: 45px;
}
.videos-section .videos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: start;
    gap: 15px;
    justify-content: space-between;
}
.videos-section .videos p {
    padding: 15px 0px 15px 5px;
    text-align: left;
}
.videos-section .videos img {
    width: 100%;
    border-radius: 16px;
    opacity: 1;
    display: block;
    height: auto;
    transition: 0.5s ease;
    backface-visibility: hidden;
}
.videos-section .img-hover {
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.videos-section .video img:hover {
    opacity: 0.3;
}
.videos-section .video img:hover .img-hover {
    opacity: 1;
}

/* PLAY SECTION START  */
.play-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
}
.play-section .play-text {
    text-align: end;
    padding: 100px;
}
.play-section .play-text p {
    padding: 20px 0;
}
.play-section .play-img-2 {
    margin-top: -280px;
    margin-left: -130px;
}
